# ===================================================
# 🌐 Flutter / Dart Ignore
# ===================================================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# API-Doku (optional, falls mit dartdoc generiert)
doc/api/

# ===================================================
# 🛠 IDEs & Editor-Dateien
# ===================================================

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Xcode / iOS
*.xcworkspace
*.xcuserstate
*.xcuserdata/
ios/Flutter/.last_build_id

# Android Gradle
**/android/local.properties
**/android/.gradle/
.gradle/
android/.gradle/
android/app/release
android/app/debug
android/app/profile

# Swift Package Manager
.swiftpm/

# ===================================================
# 🪪 Persönliche oder System-Dateien
# ===================================================

*.swp
*.log
*.pyc
*.class
.DS_Store
.buildlog/
.history
.svn/
.atom/
migrate_working_dir/

# VS Code Workspace
sachkundenachweis_app.code-workspace
